---
- name: Configure Jonathan Wilson 90s Website
  hosts: webservers
  become: yes
  vars:
    website_dir: /var/www/html
    nginx_user: nginx

  tasks:
    - name: Update all packages
      yum:
        name: '*'
        state: latest
        update_cache: yes

    - name: Install required packages
      yum:
        name:
          - nginx
          - git
          - python3-pip
        state: present

    - name: Start and enable nginx
      systemd:
        name: nginx
        state: started
        enabled: yes

    - name: Create website directory
      file:
        path: "{{ website_dir }}"
        state: directory
        owner: "{{ nginx_user }}"
        group: "{{ nginx_user }}"
        mode: '0755'

    - name: Copy website HTML file
      copy:
        src: ../website/jonathan-wilson-90s.html
        dest: "{{ website_dir }}/index.html"
        owner: "{{ nginx_user }}"
        group: "{{ nginx_user }}"
        mode: '0644'
      notify: restart nginx

    - name: Configure nginx
      template:
        src: templates/nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: '0644'
      notify: restart nginx

    - name: Configure firewall - allow HTTP
      firewalld:
        service: http
        permanent: yes
        state: enabled
        immediate: yes
      ignore_errors: yes

    - name: Configure firewall - allow HTTPS
      firewalld:
        service: https
        permanent: yes
        state: enabled
        immediate: yes
      ignore_errors: yes

    - name: Ensure nginx is running
      systemd:
        name: nginx
        state: started

  handlers:
    - name: restart nginx
      systemd:
        name: nginx
        state: restarted
